body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container{
    border:1px solid black;
    display: flex;
    flex-wrap: wrap;
    width:560px;
    height:560px;
}

.buttons{
    width: 560px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button{
    font-size: 20px;
    margin:0 10px 0;
    flex: 1;
}
